<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
    <span tabindex="0" #container class="error">
      {{ errorMessage}}
    </span>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="stacked" label="First Name" [(ngModel)]="firstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Last Name" [(ngModel)]="lastName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Email Address" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Mobile Phone Number" [(ngModel)]="phone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="submit()">Submit</ion-button>
  </ion-item>
</ion-content>